body{
	background: url(../images/TfKJhmg.jpg);
}				

p{  font-size: 18px;
	color:#faebd7;
}

h1{
	font-size: 75px;
	color: #faebd7;
	text-align: center;
}

#instructions{
	margin-left: 500px;
	padding-top: 20px;

}

#diamond{
	width:100px;
	height:100px;
}
	
#sapphire{
	width :100px;
	height:100px;
}

#garnet{
	width :100px;
	height:100px;
}

#amethyst{
	width :100px;
	height:100px;

}

#button1{
	float-bottom:200px;
}

#win{
	color:black;
}


#losses{
	color:black;
}

#numberToGuess{
	color: black;
}

#totalScore{
	color:black;
}

#reset{
	color:black;
}