body{
	background: url(../images/TfKJhmg.jpg);
}

p{  font-size: 16px;
		color:white;
		font-family: sans-serif;

}

h1{
	font-size: 75px;
	color: white;
	text-align: center;
}

.instructions{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;



}

.crystal {
	display: flex;
	justify-content:space-around;
	padding-top: 40px;


}

.score-display {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 50px;
}

/*#diamond{
	width:100px;
	height:100px;
}

#sapphire{
	width :100px;
	height:100px;
}

#garnet{
	width :100px;
	height:100px;
}

#amethyst{
	width :100px;
	height:100px;

}*/

.crystalImage {
	width :100px;
	height:100px;
}
